# Server
PORT=8080

# Basic auth authentication, incoming
BASIC_USERNAME=kisakita-2020
BASIC_PASSWORD=clrjmNxw4pITpk58uLk9awsOIoLfr0HiPpkfian3

# MySQL
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=kisakita_development
DATABASE_USERNAME=db_username
DATABASE_PASSWORD=db_password
DATABASE_POOL=5
